.mt-md {
  margin-top: 4rem !important;
}
.mt-sm {
  margin-top: 2rem !important;
}
.mb-sm {
  margin-bottom: 3rem !important;
}
.text-align-center {
  text-align: center !important;
}
.active {
  color: getColor(color-active-link) !important;
}
.completed-text {
  text-decoration: line-through !important;
  color: getColor(color-text-light) !important;
}