.home {
  background-image: getBgImage(bg-image-desktop);
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  transition: $transition-medium;
  background-color: getColor(color-background);
  min-height: 100vh;
  padding: 1rem;
  
  @include respond(phone) {
    background-image: getBgImage(bg-image-mobile);
  }

  &__theme-icon {
    width: 3rem;
    height: 3rem;
    align-self: center;

    &:hover {
      cursor: pointer;
    }
  }

  &__box {
    width: 40%;
    min-height: 20rem;
    margin: 0 auto;
    padding: 8rem 0;

    @include respond(tab-land) {
      width: 60%;
    }
    @include respond(tab-port) {
      width: 75%;
    }
    @include respond(phone) {
      width: 95%;
    }
  }

  &__title-bar {
    display: flex;
    justify-content: space-between;
  }
}