.input {
  display: flex;
  background-color: getColor(color-list-background);
  padding: 0.8rem 2.5rem;
  padding-right: 0;
  border-radius: $border-radius;
  align-items: center;
  transition: $transition-medium;

  &__field {
    width: 100%;
    padding: 1rem 1rem;
    padding-left: 2rem;
    border: none;
    background-color: getColor(color-list-background);
    transition: $transition-medium;
    font-family: $font-primary;
    font-size: $default-font-size;
    color: getColor(color-text-main);

    &:focus {
      outline: none;
    }

    &::placeholder {
      font-family: $font-primary;
      font-size: $default-font-size;
      font-weight: 400;
      color: getColor(color-text-canceled);
    }
  }
}

.checkbox {
  height: 2.5rem;
  width: 2.5rem;
  border: 2px solid #9b98ab27;
  border-radius: 50%;
}